<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koko.crud.util.freemarker.test.dao.PeopleDAO">

    <!-- 通用查询结果列：数据库表字段 -->
    <sql id="Base_Column_List">
        id,
        name,
        sex,
        age,
        quality,
        price,
        digest,
        gmt_create,
        gmt_modified
    </sql>
    <!-- 通用resultMap：实体类成员变量一一对应数据库表字段 -->
    <resultMap type="com.koko.crud.util.freemarker.test.entity.People" id="BaseResultMap">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="sex" column="sex" />
        <result property="age" column="age" />
        <result property="quality" column="quality" />
        <result property="price" column="price" />
        <result property="digest" column="digest" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
    </resultMap>

    <insert id="insertOne" parameterType="com.koko.crud.util.freemarker.test.entity.People">
        INSERT INTO tb_people
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null and name !=''">
                name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="quality != null">
                quality,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="digest != null">
                digest,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null and name !=''">
                #{name},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="age != null">
                #{age},
            </if>
            <if test="quality != null">
                #{quality},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="digest != null">
                #{digest},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                #{gmtModified},
            </if>
        </trim>
    </insert>

    <delete id="deleteOne" parameterType="java.lang.Integer">
        DELETE FROM tb_people
        WHERE id = #{id}
    </delete>

    <update id="updateOne" parameterType="com.koko.crud.util.freemarker.test.entity.People">
        UPDATE tb_people
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="quality != null">
                quality = #{quality},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="digest != null">
                digest = #{digest},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getOne" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM tb_people
        WHERE id = #{id}
    </select>


</mapper>


