<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koko.crud.util.freemarker.test.dao.UserPeopleDAO">

    <!-- 通用查询结果列：数据库表字段 -->
    <sql id="Base_Column_List">
        tb_user_people_id,
        user_id,
        people_id,
        gmt_create,
        gmt_modified
    </sql>
    <!-- 通用resultMap：实体类成员变量一一对应数据库表字段 -->
    <resultMap type="com.koko.crud.util.freemarker.test.entity.UserPeople" id="BaseResultMap">
        <id property="tbUserPeopleId" column="tb_user_people_id" />
        <result property="userId" column="user_id" />
        <result property="peopleId" column="people_id" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
    </resultMap>

    <insert id="insertOne" parameterType="com.koko.crud.util.freemarker.test.entity.UserPeople">
        INSERT INTO tb_user_people
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tbUserPeopleId != null and tbUserPeopleId !=''">
                tb_user_people_id,
            </if>
            <if test="userId != null and userId !=''">
                user_id,
            </if>
            <if test="peopleId != null and peopleId !=''">
                people_id,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tbUserPeopleId != null and tbUserPeopleId !=''">
                #{tbUserPeopleId},
            </if>
            <if test="userId != null and userId !=''">
                #{userId},
            </if>
            <if test="peopleId != null and peopleId !=''">
                #{peopleId},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                #{gmtModified},
            </if>
        </trim>
    </insert>

    <delete id="deleteOne" parameterType="java.lang.Integer">
        DELETE FROM tb_user_people
        WHERE tb_user_people_id = #{tbUserPeopleId}
    </delete>



</mapper>


