<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!--控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!--<Pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] %logger{56}.%method - %msg%n</Pattern>-->
            <Pattern>%highlight([%-5level]) %logger{26}.%method - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- logger start -->

    <!-- spring框架产生的warn级别日志 -->
    <logger name="org.springframework" level="warn" additivity="false" />
    <logger name="com.apache.mybatis" level="DEBUG" />
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />
    <!-- 为某个包下的所有类的指定Appender. 也可以指定类名称 eg. com.aa.bb.ClassName -->
    <logger name="com.sinsinet.billboard" >
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.sinsinet.controller" level="TRACE">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- logger end -->

    <!-- root将级别为“DEBUG”(默认)及大于“DEBUG”(DEBUG级别最低)的日志信息交给已经配置好的名为“Console”的appender处理，-->
    <!-- “Console”appender将信息打印到Console -->
    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="DEBUG">
        <!-- 标识这个appender将会添加到这个logger -->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>